global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    env: 'production'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
        labels:
          instance: 'prometheus-prod'
