apiVersion: v1
kind: Service
metadata:
  name: {{ include "promql-proxy.fullname" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: promql-proxy
